name: Clippy

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: "-Dwarnings"

jobs:
  clippy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    ## rust cache includes toolchain in key
    - run: rustup toolchain install
    - uses: Swatinem/rust-cache@v2
    - name: Run Clippy
      run: cargo clippy --all-targets --all-features --workspace
