name: Format

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: "-Dwarnings"

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    ## rust cache includes toolchain in key
    - run: rustup toolchain install
    - name: Run rustfmt
      run: cargo fmt --check --all
